<section>
    <div class="sections">
        <h3 class="fw-bolder">REGISTRAR AÑO ESCOLAR</h3>
         <form [formGroup]="form" (ngSubmit)="agregarYear()">
            <div class="borderpanel">
                <img class="iconoyear" src="assets/iconos/years.png" alt="Sysnara Registrar Años">
                <div class="formyears">
                    <label for="year" class="col-form-label">Año:</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text">
                            <i class="las la-calendar" 
                            [class.green-icon]="this.form.get('year')?.valid"
                            [class.red-icon]="this.form.get('year')?.invalid && this.form.get('year')?.touched"></i>
                        </span>
                        <input id="years" type="number" formControlName="year" [(ngModel)]="fechaEstablecida" min="2022" max="2099" step="1"
                            required class="form-control">
                    </div>
                    <label for="fecha">Fecha Inicio:</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text">
                            <i class="las la-calendar-plus"
                            [class.green-icon]="this.form.get('FechaInicial')?.valid"
                            [class.red-icon]="this.form.get('FechaInicial')?.invalid && this.form.get('FechaInicial')?.touched"></i>
                        </span>
                        <input type="date" formControlName="FechaInicial" [(ngModel)]="fechaPorDefectoInicial" required class="form-control">
                    </div>
                    <label for="fecha">Fecha Fin:</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text">
                            <i class="las la-calendar-minus"
                            [class.green-icon]="this.form.get('FechaFinal')?.valid"
                            [class.red-icon]="this.form.get('FechaFinal')?.invalid && this.form.get('FechaFinal')?.touched"></i>
                        </span>
                        <input type="date" formControlName="FechaFinal" [(ngModel)]="fechaPorDefectoFinal" required class="form-control">
                    </div>
                    <label for="fecha">Observación:</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text">
                            <i class="las la-file-signature"
                            [class.green-icon]="this.form.get('Observacion')?.valid"
                            [class.red-icon]="this.form.get('Observacion')?.invalid && this.form.get('Observacion')?.touched"></i>
                        </span>
                        <input type="text" formControlName="Observacion" [(ngModel)]="Observacion" class="form-control" aria-label="Sizing example input"
                            aria-describedby="inputGroup-sizing-sm">
                    </div>
                </div>
                <div class="d-grid gap-2 col-2 mx-auto buttonsyears">
                    <button [disabled]="this.form.invalid" class="btn btn-primary" type="button" (click)="agregarYear()">
                        <span>
                            <i class="fa-regular fa-floppy-disk"></i>
                        </span>
                        &nbsp;Guardar
                    </button>
                </div>
                
            </div>
        </form>
        <!-- BASE DE DATOS GRID -->
        <div class="dbpanel">
            <p class="tabletitle">AÑOS REGISTRADOS</p>
            <div class="table-wrapper">
                <table class="table table-rounded">
                    <thead class="headcolum">
                        <tr>
                            <th scope="col">Año</th>
                            <th scope="col">Fecha Inicio</th>
                            <th scope="col">Fecha Fin</th>
                            <th scope="col">Observación</th>
                            <th scope="col">Editar</th>
                            <th scope="col">Borrar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let years of listayears">
                            <td>{{years.year}}</td>
                            <td>{{years.FechaInicial}}</td>
                            <td>{{years.FechaFinal}}</td>
                            <td>{{years.Observacion}}</td>
                            <td><i class="las la-edit"></i></td>
                            <td><i class="las la-trash-alt"></i></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- <ag-grid-angular class="ag-theme-alpine" style="height: 480px; width: 800px;" #myDataGrid [rowData]="rowdata" 
             [columnDefs]="columnDefs">
            </ag-grid-angular> -->
        </div>
    </div>
</section>