<section>
    <div class="sections">
        <h3 class="fw-bolder">{{ accion | uppercase }} AÑO ESCOLAR</h3>
         <form [formGroup]="form" (ngSubmit)="guardarYears()">
            <div class="borderpanel">
                <img class="iconoyear" src="assets/iconos/years.png" alt="Sysnara Registrar Años">
                <div class="formyears">
                    <label for="year" class="col-form-label">Año:</label>
                        <div class="input-group mb-3">
                            <span class="input-group-text">
                                <i class="las la-calendar" 
                                [class.green-icon]="this.form.get('idaño')?.valid"
                                [class.red-icon]="this.form.get('idaño')?.invalid && this.form.get('idaño')?.touched"></i>
                            </span>
                            <input id="years" type="number" formControlName="idaño" min="2022" max="2099" step="1" required class="form-control">
                        </div>
                        <label for="fecha">Fecha Inicio:</label>
                        <div class="input-group mb-3">
                            <span class="input-group-text">
                                <i class="las la-calendar-plus"
                                [class.green-icon]="this.form.get('añoInicio')?.valid"
                                [class.red-icon]="this.form.get('añoInicio')?.invalid && this.form.get('añoInicio')?.touched"></i>
                            </span>
                            <input type="date" formControlName="añoInicio" required class="form-control">
                        </div>
                        <label for="fecha">Fecha Fin:</label>
                        <div class="input-group mb-3">
                            <span class="input-group-text">
                                <i class="las la-calendar-minus"
                                [class.green-icon]="this.form.get('añoFin')?.valid"
                                [class.red-icon]="this.form.get('añoFin')?.invalid && this.form.get('añoFin')?.touched"></i>
                            </span>
                            <input type="date" formControlName="añoFin" required class="form-control">
                        </div>
                        <label for="fecha">Observación:</label>
                        <div class="input-group mb-3">
                            <span class="input-group-text">
                                <i class="las la-file-signature"
                                [class.green-icon]="this.form.get('observacion')?.valid"
                                [class.red-icon]="this.form.get('observacion')?.invalid && this.form.get('observacion')?.touched"></i>
                            </span>
                            <input type="text" formControlName="observacion" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                        </div>
                </div>
                <div class="d-grid gap-2 col-2 mx-auto buttonsyears">
                    <button [disabled]="this.form.invalid" class="btn btn-primary" type="submit">
                        <span>
                            <i class="fa-regular fa-floppy-disk"></i>
                        </span>
                        &nbsp;{{ accion === 'AGREGAR' ? 'Guardar' : 'Actualizar' }}
                    </button>
                </div>
                
            </div>
        </form>
        <!-- BASE DE DATOS GRID -->
        <div class="dbpanel">
            <p class="tabletitle">AÑOS REGISTRADOS</p>
            <div class="table-wrapper">
                <table class="table table-rounded">
                    <thead class="headcolum">
                        <tr>
                            <th scope="col">Año</th>
                            <th scope="col">Fecha Inicio</th>
                            <th scope="col">Fecha Fin</th>
                            <th scope="col">Observación</th>
                            <th scope="col">Editar</th>
                            <th scope="col">Borrar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of listayears">
                                <td>{{ item['idaño'] }}</td>
                                <td>{{ item['añoInicio'] | date:'yyyy-MM-dd' }}</td>
                                <td>{{ item['añoFin'] | date:'yyyy-MM-dd' }}</td>
                                <td>{{ item['observacion'] }}</td>
                            <!--<td>{{ item.idyears }}</td>
                                <td>{{ item.yearInicio | date:'yyyy-MM-dd' }}</td>
                                <td>{{ item.yearFin | date:'yyyy-MM-dd' }}</td>
                                <td>{{ item.observacion }}</td> -->
                                <td><i (click)="editarYears(item)" class="las la-edit"></i></td>
                                <td><i (click)="eliminarYear(item['idaño'])" class="las la-trash-alt"></i></td>
                        </tr>                                                                      
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>