*,
:before,
:after {
  box-sizing: border-box;
}

body {
  background: #424242;
}

/* form {
  width: 320px;
  margin: 45px auto;
} */
h3{
  font-size: 1.5em;
  font-weight: 300;
  text-align: center;
  color: #2196F3;
}
/* form h1 {
  font-size: 3em;
  font-weight: 300;
  text-align: center;
  color: #2196F3;
} */
form h5 {
  text-align: center;
  text-transform: uppercase;
  color: #080808;
}
form hr.sep {
  background: #2196F3;
  box-shadow: none;
  border: none;
  height: 2px;
  width: 25%;
  margin: 0px auto 45px auto;
}
form .emoji {
  font-size: 1.2em;
}

.group {
  position: relative;
  margin: 5px 0px 0px 2px;
  padding: 0px 0px 0px 0px;
}

textarea {
  resize: none;
}

input, select,
textarea {
  background: none;
  color: #4d4b4b; /*Color dentro del texto dentro de los input*/
  font-size: 15px;
  padding: 10px 10px 2px 5px; /* arriba, derecha, abajo, izquierda */
  display: block;
  width: 320px;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #c6c6c6;
}
input:focus,
select:focus,
textarea:focus {
  outline: none;
}
input:focus ~ label, input:valid ~ label,
select:focus ~ label, select:valid ~ label,
textarea:focus ~ label,
textarea:valid ~ label {
  top: -8px; /*Especio entre el texto dentro del input y el label*/
  font-size: 12px;
  color: #2196F3;
}
input:focus ~ .bar:before,
select:focus ~ .bar:before,
textarea:focus ~ .bar:before {
  width: 320px;
}

input[type=password] {
  letter-spacing: 0.3em;
}

label {
  color: #1168af; /*COLOR DEL TEXTO DE LAS LETRAS*/
  font-size: 16px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 300ms ease all;
}

.bar {
  position: relative;
  display: block;
  width: 320px;
}
.bar:before {
  content: "";
  height: 2px;
  width: 0;
  bottom: 0px;
  position: absolute;
  background: #2196F3;
  transition: 300ms ease all;
  left: 0%;
}

.btn {
  background: #fff;
  color: #959595;
  border: none;
  padding: 7px 10px;
  margin: 5px 3px 2px 3px; /* arriba, derecha, abajo, izquierda MARGENES DE LOS BOTONES*/ 
  border-radius: 3px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-decoration: none;
  outline: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.btn:hover {
  color: #8b8b8b;
  box-shadow: 0 7px 14px rgba(0, 0, 0, 0.18), 0 5px 5px rgba(0, 0, 0, 0.12);
}
.btn.btn-link {
  background: #2196F3;
  color: #d3eafd;
}
.btn.btn-link:hover {
  background: #0d8aee;
  color: #deeffd;
}
.btn.btn-submit {
  background: #2196F3;
  color: #bce0fb;
}
.btn.btn-submit:hover {
  background: #0d8aee;
  color: #deeffd;
}
.btn.btn-cancel {
  background: #eee;
}
.btn.btn-cancel:hover {
  background: #e1e1e1;
  color: #8b8b8b;
}

.btn-box {
  text-align: start;
  margin: 5px 0px 0px 15px; /* arriba, derecha, abajo, izquierda */
}
.idencargado label {
  color: rgb(59, 59, 59); /*Color del IDEncargado*/
}
/*------------------------------------------------------------------------------------------------*/
.col-md-2{
  width: 150px; /*Ancho de los botones*/
}
.btnbuscar{ /*BOTON BUSCAR*/
  padding: 5.1px 10px;
  margin: 0px 3px 2px 210px; /* arriba, derecha, abajo, izquierda MARGENES DE LOS BOTONES*/ 
}

.col-md-4{ /*Margen izquierdo de la row four DIRECCION / OBSERVACION*/
  margin-left: 0px;
  padding-left: 0px;
}

.container {
  margin: 2px 15px 2px 15px;
}