<h3 class="fw-bolder">REGISTRAR DOCENTES</h3>
<form [formGroup]="formDocentes" class="container text-center" (ngSubmit)="GuardarDocente()">
  <!--FILA 1  -->
    <div class="row first">
            <!-- BUTTON BUSCAR -->
            <div class="btn-box">
              <button class="btn btn-submit btnbuscar" type="submit">Buscar</button>
            </div>
    </div>
  <!-- FILA 2 -->
  <div class="row second">
          <!--DIV AÑO-->
          <div class="group col">
            <select formControlName="year" [(ngModel)]="year" required>
                <option value="" disabled selected hidden></option> <!--Default espacio o select en blanco-->
                <option>2024</option>
                <option>2025</option>
                <option>2026</option>
                <option>2027</option>
                <option>2028</option>
                <option>2029</option>
                <option>2030</option>
                <option>2031</option>
                <option>2032</option>
                <option>2033</option>
          </select><span class="highlight"></span><span class="bar"></span>
            <label>Año</label>
          </div>      
            <!--DIV IDENTIDAD-->
            <div class="group col">
              <input type="text" formControlName="Identidad" [(ngModel)]="Identidad" (keypress)="onKeyPress($event)" required maxlength="15" pattern="[0-9]+"/><span class="highlight"></span><span class="bar"></span>
              <label>Identidad</label>
            </div>
            <!--DIV NOMBRE DEL ENCARGADO-->
            <div class="group col">
              <input type="text" formControlName="NombreDelDocente" [(ngModel)]="NombreDelDocente" required />
              <span class="highlight"></span><span class="bar"></span>
              <label>Nombre del Docente</label>
            </div>
            <!--DIV ID ENCARGADO-->
            <div class="group col iddocente" >
              <input type="text" formControlName="ID" [(ngModel)]="totalfilas" required/><span class="highlight"></span><span class="bar"></span>
              <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ID Docente</label>
            </div>
            <!--DIV PROFESIÓN-->
            <div class="group col">
              <input type="text" formControlName="Profesion" [(ngModel)]="Profesion" required/><span class="highlight"></span><span class="bar"></span>
              <label>Profesión</label>
            </div>
            <!--DIV GENERO-->
            <div class="group col">
              <select formControlName="Genero" [(ngModel)]="Genero" required>
                  <option value="" disabled selected hidden></option> <!--Default espacio o select en blanco-->
                  <option>FEMENINO</option>
                  <option>MASCULINO</option>
            </select><span class="highlight"></span><span class="bar"></span>
              <label>Género</label>
            </div>
          </div>
  <!-- FILA 3 -->
      <div class="row three">
            <!--DIV CELULAR-->
            <div class="group col">
              <input type="text" formControlName="Celular" [(ngModel)]="Celular" (keypress)="onKeyPress($event)" required maxlength="12" />
              <span class="highlight"></span>
              <span class="bar"></span>
              <label>Celular</label>
            </div>                      
            <!--DIV CELULAR-->
            <div class="group col">
              <input type="text" formControlName="Telefono" [(ngModel)]="Telefono" (keypress)="onKeyPress($event)" required maxlength="12"/>
              <span class="highlight"></span><span class="bar"></span>
              <label>Teléfono</label>
            </div>
            <!--DIV CORREO-->
            <div class="group col">
              <input type="email" formControlName="Correo" [(ngModel)]="Correo" required/><span class="highlight"></span><span class="bar"></span>
              <label>Correo</label>
            </div>
      </div>
  <!-- FILA 4 -->
      <div class="row four">
        <!-- DIV DIRECCIÓN -->
        <div class="col-md-4 mb-2">
            <div class="group">
                <input type="text" formControlName="Direccion" [(ngModel)]="Direccion" required />
                <span class="highlight"></span><span class="bar"></span>
                <label>Dirección</label>
            </div>
        </div>
      </div>
  <!-- FILA 5 -->
      <div class="row five">
              <div class="btn-box row justify-content-center">
                  <button class="btn btn-submit col-md-2" type="button" (click)="GuardarDocente()">Guardar</button>
                  <button class="btn btn-cancel col-md-2" type="button">Editar</button>
                  <button class="btn btn-cancel col-md-2" type="button" (click)="LimpiarFormDocente()">Limpiar</button>
                  <button class="btn btn-cancel col-md-2" type="button">Cancelar</button>
              </div>
        </div>
</form>

<!-- TABLA REGISTRAR DOCENTES -->
<div class="dbpanel">
  <p class="tabletitle">ENCARGADOS REGISTRADOS</p>
  <div class="table-wrapper">
      <table class="table table-rounded">
          <thead class="headcolum">
              <tr> 
                <!-- Encabezados de Columnas -->
                  <th scope="col">Año</th>
                  <th scope="col">Identidad</th>
                  <th scope="col">Nombre del Docente</th>
                  <th scope="col">ID</th>
                  <th scope="col">Profesión</th>
                  <th scope="col">Género</th>
                  <th scope="col">Celular</th>
                  <th scope="col">Teléfono</th>
                  <th scope="col">Correo</th>
                  <th scope="col">Dirección</th>
                  <th scope="col">Eliminar</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let registrodocentes of listaDocente">
                  <td>{{registrodocentes.year}}</td>
                  <td>{{registrodocentes.Identidad}}</td>
                  <td>{{registrodocentes.NombreDelDocente}}</td>
                  <td>{{registrodocentes.ID}}</td>
                  <td>{{registrodocentes.Profesion}}</td>
                  <td>{{registrodocentes.Genero}}</td>
                  <td>{{registrodocentes.Celular}}</td>
                  <td>{{registrodocentes.Telefono}}</td>
                  <td>{{registrodocentes.Correo}}</td>
                  <td>{{registrodocentes.Direccion}}</td>
                  <td><i class="las la-trash-alt"></i></td>
              </tr>
          </tbody>
      </table>
  </div>
  <!-- <ag-grid-angular class="ag-theme-alpine" style="height: 480px; width: 800px;" #myDataGrid [rowData]="rowdata" 
   [columnDefs]="columnDefs">
  </ag-grid-angular> -->
</div>
