<div class="backgroundform">
    <div class="fontlogin">
      <h1 class="titulo">
        SYSNARA
      </h1>
      <form class="form-login" id="formulario">
        <h5>CREDENCIALES DE ACCESO</h5>
        <input class="controls" type="text" name="usuario" placeholder="Usuario" id="usuario" [(ngModel)]="user">
        <input class="controls" type="password" name="contrasena" placeholder="Contraseña" id="contraseña" [(ngModel)]="pass">
        <button class="buttons" type="button" name="btnIngresar" value="Ingresar" (click)="login()">INGRESAR</button>
        <p><a (click)="forgotPass()">¿Olvidaste tu Contraseña?</a></p>
      </form>
    </div>
    <footer class="footer"><p>Derechos Reservados ©</p></footer>
  </div>
  