<h3 class="fw-bolder">REGISTRAR ENCARGADOS</h3>
<form class="container text-center" (ngSubmit)="RegistrarEncargados()">
  <!--FILA 1  -->
    <div class="row first">
            <!-- BUTTON BUSCAR -->
            <div class="btn-box">
              <button class="btn btn-submit btnbuscar" type="submit">Buscar</button>
            </div>
    </div>
  <!-- FILA 2 -->
      <div class="row second">
            <!--DIV IDENTIDAD-->
            <div class="group col">
              <input type="text" required="required"/><span class="highlight"></span><span class="bar"></span>
              <label>Identidad</label>
            </div>
            <!--DIV NOMBRE DEL ENCARGADO-->
            <div class="group col">
              <input type="text" required="required"/><span class="highlight"></span><span class="bar"></span>
              <label>Nombre del Encargado</label>
            </div>
            <!--DIV ID ENCARGADO-->
            <div class="group col idencargado" >
              <input type="text" [disabled]="true" required="required"/><span class="highlight"></span><span class="bar"></span>
              <label>ID Encargado (automático)</label>
            </div>
            <!--DIV PARENTESCO-->
            <div class="group col">
              <select required="required">
                  <option value="" disabled selected hidden></option> <!--Default espacio o select en blanco-->
                  <option>PADRE</option>
                  <option>MADRE</option>
                  <option>HERMANO(A)</option>
                  <option>ABUELO(A)</option>
                  <option>TIO(A)</option>
                  <option>PRIMO(A)</option>
                  <option>ENCARGADO(A)</option>
            </select><span class="highlight"></span><span class="bar"></span>
              <label>Parentesco</label>
            </div>
            <!--DIV PROFESIÓN-->
            <div class="group col">
              <input type="text" required="required"/><span class="highlight"></span><span class="bar"></span>
              <label>Profesión</label>
            </div>
            <!--DIV GENERO-->
            <div class="group col">
              <select required="required">
                  <option value="" disabled selected hidden></option> <!--Default espacio o select en blanco-->
                  <option>FEMENINO</option>
                  <option>MASCULINO</option>
            </select><span class="highlight"></span><span class="bar"></span>
              <label>Género</label>
            </div>
          </div>
  <!-- FILA 3 -->
      <div class="row three">
            <!--DIV CELULAR-->
            <div class="group col">
              <input type="text" required="required"/><span class="highlight"></span><span class="bar"></span>
              <label>Celular</label>
            </div>
            <!--DIV CELULAR-->
            <div class="group col">
              <input type="text" required="required"/><span class="highlight"></span><span class="bar"></span>
              <label>Teléfono</label>
            </div>
            <!--DIV CORREO-->
            <div class="group col">
              <input type="email" required="required"/><span class="highlight"></span><span class="bar"></span>
              <label>Correo</label>
            </div>
      </div>
  <!-- FILA 4 -->
      <div class="row four">
        <!-- DIV DIRECCIÓN -->
        <div class="col-md-4 mb-2">
            <div class="group">
                <input type="text" required="required" />
                <span class="highlight"></span><span class="bar"></span>
                <label>Dirección</label>
            </div>
        </div>

        <!-- DIV OBSERVACIÓN -->
        <div class="col-md-4 mb-2">
            <div class="group">
                <input type="text" required="required" />
                <span class="highlight"></span><span class="bar"></span>
                <label>Observación</label>
            </div>
        </div>
      </div>
  <!-- FILA 5 -->
      <div class="row five">
              <div class="btn-box row justify-content-center">
                  <button class="btn btn-submit col-md-2" type="submit">Guardar</button>
                  <button class="btn btn-cancel col-md-2" type="button">Editar</button>
                  <button class="btn btn-cancel col-md-2" type="button">Limpiar</button>
                  <button class="btn btn-cancel col-md-2" type="button">Borrar</button>
                  <button class="btn btn-cancel col-md-2" type="button">Cancelar</button>
              </div>
        </div>
</form>

<!-- TABLA REGISTRAR DOCENTES -->
<div class="dbpanel">
  <p class="tabletitle">ENCARGADOS REGISTRADOS</p>
  <div class="table-wrapper">
      <table class="table table-rounded">
          <thead class="headcolum">
              <tr> 
                <!-- Encabezados de Columnas -->
                  <th scope="col">Identidad</th>
                  <th scope="col">Nombre del Encargado(a)</th>
                  <th scope="col">ID</th>
                  <th scope="col">Parentesco</th>
                  <th scope="col">Profesión</th>
                  <th scope="col">Género</th>
                  <th scope="col">Celular</th>
                  <th scope="col">Teléfono</th>
                  <th scope="col">Correo</th>
                  <th scope="col">Dirección</th>
                  <th scope="col">Observación</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let encargado of listaEncargado">
                  <td>{{encargado.Identidad}}</td>
                  <td>{{encargado.NombreDelEncargado}}</td>
                  <td>{{encargado.ID}}</td>
                  <td>{{encargado.Parentesco}}</td>
                  <td>{{encargado.Profesion}}</td>
                  <td>{{encargado.Genero}}</td>
                  <td>{{encargado.Celular}}</td>
                  <td>{{encargado.Telefono}}</td>
                  <td>{{encargado.Correo}}</td>
                  <td>{{encargado.Direccion}}</td>
                  <td>{{encargado.Observacion}}</td>
                  <td><i class="las la-edit"></i></td>
                  <td><i class="las la-trash-alt"></i></td>
              </tr>
          </tbody>
      </table>
  </div>
  <!-- <ag-grid-angular class="ag-theme-alpine" style="height: 480px; width: 800px;" #myDataGrid [rowData]="rowdata" 
   [columnDefs]="columnDefs">
  </ag-grid-angular> -->
</div>
