<section class="componentes">
        <app-matricula></app-matricula>
</section>
<!-- <app-login *ngIf="showLogin"></app-login>
<div *ngIf="isLoggedIn">
    <div *ngIf="primeraParteLoaded">
        <div class="sk-cube-grid">
            <div class="sk-cube sk-cube1"></div>
            <div class="sk-cube sk-cube2"></div>
            <div class="sk-cube sk-cube3"></div>
            <div class="sk-cube sk-cube4"></div>
            <div class="sk-cube sk-cube5"></div>
            <div class="sk-cube sk-cube6"></div>
            <div class="sk-cube sk-cube7"></div>
            <div class="sk-cube sk-cube8"></div>
            <div class="sk-cube sk-cube9"></div>
        </div>
    </div>

    <div *ngIf="segundaParteLoaded">
            <header>
                <div class="barranav">
                    <div routerLink="page-not-found" class="nameinst">
                        <img class="logo" src="assets/iconos/study.png" alt="Sysnara">
                        <p class="institute">SYSNARA</p>
                    </div>
                </div>
            </header>
                <nav class="navbar">
                    <ul>
                        <li class="item">
                            <i class="las la-calendar-check"></i>
                            <a routerLink="years">Año Escolar</a>
                        </li>
                        <li class="item">
                            <i class="las la-stream"></i>
                            <a routerLink="gradosysecciones">Grados y Secciones</a>
                        </li>
                        <li class="item">
                            <i class="las la-school"></i>
                            <a routerLink="asignaturas">Asignaturas</a>
                        </li>
                        <li class="item">
                            <i class="las la-users-cog"></i>
                            <a routerLink="docentes">Docentes</a>
                        </li>
                        <li class="item">
                            <i class="las la-user-tie"></i>
                            <a routerLink="padres">Padre de Familia</a>
                        </li>
                        <li class="item">
                            <i class="las la-graduation-cap"></i>
                            <a routerLink="matricula">Matricula</a>
                        </li>
                        <li class="item">
                            <i class="las la-clipboard-list"></i>
                            <a routerLink="reportematricula">Reporte Matricula</a>
                        </li>
                        <li class="item">
                            <i class="las la-certificate"></i>
                            <a routerLink="notas">Notas</a>
                        </li>
                        <li class="item">
                            <i class="las la-file-signature"></i>
                            <a routerLink="imprimirnotas">Imprimir Notas</a>
                        </li>
                        <li class="item">
                            <i class="las la-history"></i>
                            <a routerLink="historia">Reseña Histórica</a>
                        </li>
                        <li class="item">
                            <i class="las la-play-circle"></i>
                            <a routerLink="tutorial">Tutorial</a>
                        </li>
                    </ul>
                </nav>
    </div>
    <section class="componentes">
        <router-outlet></router-outlet> 
    </section>
</div>  -->
